# Exclude everything
*

# Except files we explicitly need, grouped by copy command
!requirements/conda-linux-64.lock
!docker/create_conda_env.sh

!docker/install_fonts.sh
!docker/install_packages.sh
!docker/install_shfmt.sh
!docker/timer.sh

!config

!requirements/requirements.txt

!src/
src/**/__pycache__/

!pyproject.toml
!setup.cfg
