# Analysis
bokeh
jupyter
matplotlib
numpy
pandas
scikit-learn
scipy
seaborn
statsmodels

# Profiling
pyinstrument
snakeviz

# Formatting
black

# Import formatting
isort

# Linting
pylint

# Type checking
mypy
types-setuptools
typing-extensions

# Requirements generation
pip-tools

# Unit tests
pytest
